<h2>Silakan pilih soal melalui menu dibawah.</h2>
<div class="list-group">
  <a href="/pseudocode" class="list-group-item list-group-item-action">Pseudocode</a>
  <a href="/soal1-2" class="list-group-item list-group-item-action">Soal 1-2</a>
  <a href="/soal3-4-5-6" class="list-group-item list-group-item-action">Soal 3-6</a>
  <a href="/soal7" class="list-group-item list-group-item-action">Soal 7</a>
  <a href="/soal9" class="list-group-item list-group-item-action">Soal 9</a>
  <a href="/soal8" class="list-group-item list-group-item-action">Soal 8</a>
  <a href="/soal10-11" class="list-group-item list-group-item-action">Soal 10-11</a>
  <a href="/api-docs" class="list-group-item list-group-item-action">Soal 10-11 (swagger)</a>
</div>
